.card-crt {
    border-radius: 30px;
}

.food-card {
    /* box-shadow: 0px 1px 1px 1px rgb(252, 245, 237); */
    box-shadow: 4px 4px 16px 1px rgb(230, 230, 230);
    width: 300px;
    border-radius: inherit;
    text-align: left;
    position: relative;
    margin: 10px 0;
}

.food-img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 200px;
}


.details-eye {
    border-radius: 50%;
    background-color: rgb(177, 95, 253);
    color: #fff;
    position: absolute;
    top: 43%;
    right: 4%;
}

.details-eye:hover {
    cursor: pointer;
    background-color: rgb(100, 6, 189);
    color: #fff;
}

.add-to-cart-btn {
    background-color: #ff731d;
}

.add-to-cart-btn:hover {
    background-color: #e76110;
}